body {
    padding: 0;
    margin: 0;
    overflow: hidden; /* This is to make the tooltip not create scrollbars */
}
html, body, #map {
    height: 100%;
    width: 100%;
}

.leaflet-container {
    background-color: #1C1E23;
}

.tooltip {
	padding: 10px;
	border-radius: 3px;
    position: absolute;
    background-color: #000;
    color: #fff;
    display: none;
    font: 14px/16px Arial, Helvetica, sans-serif;
    left: 0;
    top: 40px;
    /*background: rgba(0,0,0,0.5);*/
}

h3 {
	margin: 0;
	font-size: 1em;
}


.app-title {
	padding: 6px 8px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.5);
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    height: 40px;
}

.app-title .title {
	float:left;
}

.header {
	font-size: 1.5em;
	margin-left: 5px;
}

.author {
	float:right;
	font-size: 1.2em;
	color: #777;
	font-weight: bold;
	padding-right: 5px;

}

.author a {
	text-decoration: none;
}

.author a:visited {
	color: #777;
}

.author i {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	color: #777;
	font-size: 1.9em;
}

.author i:hover {
	color: #fff;
}

.author a:hover {
	color: #fff;
}

.author .fa-twitter-square {
	padding-right: 10px;
}



.leaflet-right .leaflet-control {
    margin-right: 0;
}
.leaflet-bottom .leaflet-control {
    margin-bottom: 0;
}

.leaflet-top .leaflet-control {
    margin-top: 55px;
    margin-right: 10px;
}



.legend {
    line-height: 18px;
    color: #fff;  
    background: rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}



@media (max-width: 720px) {


	.mobile-hide {

		display:none;
	}

	.tooltip {
	    background: rgba(0,0,0,0.5);
	}



}